---
import Layout from '../layouts/Layout.astro'; 
import AnimatedH1 from '../components/ui/AnimatedH1.astro';
import BlobTransition from '../components/ui/BlobTransition.astro';
import BlobDynamic from '../components/ui/BlobDynamic.astro';
import TimeBeforeDate from '../components/ui/TimeBeforeDate.astro';
import { getOneOeuvre, getImageUrl } from '../lib/backend';
import CardArtisteEtOeuvre from '../components/ui/CardArtisteEtOeuvre.astro';
import ImgMMI from '../assets/images/image_mmi.webp';
import ImgPresentoire from '../assets/images/image_presentoire.webp';
import ImgGroupeOeuvres from '../assets/images/image_groupe_oeuvres.webp';
import ContactCTA from '../components/ui/ContactCTA.astro';
import LogoGBA from "../assets/icones/logo_gba.webp";
import LogoUMLP from "../assets/icones/logo_umlp.webp";
import LogoMMI from "../assets/icones/logo_mmi.webp";

const IdTeaserOeuvres = [
     "5kkgpfre68rmglw",
     "das19nwl3b355if",
     "d3rflpfwzcxjequ",
     "h4uuy2z8rz80ipa",
     "xo6q6bu170vmmow",
     "yp7iue20o7ipz9s",
     "qwe0qkhta4ujktw",
     "z6c9nik0bfsnxzu",
     "xvdvetb0mnreor8",
    ];

    const oeuvre = await Promise.all(
        IdTeaserOeuvres.map((id) => getOneOeuvre(id))
    )
---
<Layout title="L'Exposition | MMI Art 26" description="Plongez dans l'univers créatif de MMI Art 26. Découvrez les œuvres innovantes et les artistes talentueux de notre exposition annuelle à Montbéliard.">
    <main class="overflow-hidden">
        <section class="">
			<header class="mt-12 lg:-mt-10 lg:-ml-20 2xl:mt-0 2xl:ml-0">
				<AnimatedH1 variant="exposition" text="Bienvenue à MMI ART 26" />
			</header>
			<div>
				

				<div class="flex flex-col mt-20 lg:-mt-32 2xl:-mt-24 2xl:mr-8 gap-2">
					<p class="font-uni-sans text-lg text-right mb-6 lg:text-xl 2xl:text-2xl">L'exposition est dans</p>
					<TimeBeforeDate />
				</div>
			</div>
			<span class="absolute top-30 right-12 my-8 font-bold text-xs lg:text-lg lg:right-24 2xl:text-3xl 2xl:right-40 2xl:top-44 lg:font-uni-sans ">22 au 24 janvier 2026</span>
		</section>

        <section class="mb-20">
            <header>
                <h2 class="">Teaser</h2>
            </header>
            <ul class="ul-flex">
                {oeuvre.map((oeuvre, index) => ( 
                    <li>
                        <CardArtisteEtOeuvre oeuvre={oeuvre} variant={(index % 3 ) + 1} />
                    </li>
                ))}
            </ul>
        </section>

        <BlobTransition position="top" color="#111111" deformStrength={0.3} />

        <section class="black-section">
            <header>
                <h2 class="">L'exposition</h2>
            </header>
            <div class="flex flex-col lg:flex-row lg:gap-12 lg:items-center">
                <div class="flex-1">
                    <div class="text-content">
                    <p>MMI ART 26 est pensée comme une vitrine des compétences acquises au cours de la formation, mais aussi comme un espace de rencontre entre étudiants, enseignants, lycéens et visiteurs extérieurs. Les œuvres présentées témoignent de la créativité des étudiants, mais aussi de leur capacité à concevoir des projets de bout en bout, de l’idée au prototype final.</p>
                    <p>Tout au long de l’événement, les visiteurs peuvent découvrir les projets en accès libre, lors de créneaux dédiés aux étudiants MMI puis pendant la Journée Portes Ouvertes de l’IUT. Selon les moments, des membres de l’équipe ainsi que certains exposants seront présents pour présenter les œuvres, répondre aux questions et accompagner les visiteurs dans la découverte des différents espaces.</p>
                </div>
                </div>
                <div class="flex-1 flex justify-center items-center mt-12 lg:mt-0 mb-20 md:mb-0">
                    <div class="flex flex-col ">
                        <div class="w-40 lg:w-50 2xl:w-80">
                            <BlobDynamic imageUrl={ImgMMI.src}  variant={1} />
                        </div>
                        <div class="w-40 lg:w-50 2xl:w-80">
                            <BlobDynamic imageUrl={ImgGroupeOeuvres.src} variant={4} />
                        </div>
                    </div>
                    
                    <div class="w-50 lg:w-70 2xl:w-100">
                        <BlobDynamic imageUrl={ImgPresentoire.src} variant={2} />
                    </div>
                </div>
            </div>
        </section>

        <BlobTransition position="bottom" color="#111111" deformStrength={0.3} />

        <section class="">
			<header>
				<h2 class="">Infos Pratiques</h2>
			</header>
            <div class="flex flex-col lg:flex-row lg:gap-12 lg:items-center">
                <div class="flex-1">
                    <div class="text-content">
                    <p>MMI ART 26 se tient dans les locaux de l’IUT à Montbéliard, facilement accessibles en transports en commun et en voiture. L’entrée est gratuite et ouverte à toutes et tous, dans la limite des horaires communiqués sur le site et les supports de communication. 
                    Vous trouverez ci-contre un plan du lieu pour mieux vous repérer. 
                    </p>
                    <p>De plus, le lieu de l’exposition est accessible aux personnes à mobilité réduite, avec des circulations adaptées et des accès par ascenseur ou rampes selon les espaces. Des toilettes sont à disposition à proximité immédiate de l’expo, ainsi que des espaces avec machines à café ou distributeurs, afin de permettre aux visiteurs de faire une pause pendant leur parcours.</p>
                </div>
                </div>
                <div class="flex-1 flex justify-center mt-12 lg:mt-0">
                    <div class="w-60 lg:w-full flex justify-center items-center">
                    <BlobDynamic variant={2} className="w-full max-w-125">
                            <iframe 
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21565.716814373303!2d6.786224842071536!3d47.49547292805217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4792172655793f9f%3A0x1b3b0f76560084ad!2sD%C3%A9partement%20MMI%20de%20Montb%C3%A9liard!5e0!3m2!1sfr!2sfr!4v1767894018694!5m2!1sfr!2sfr" 
                                class="w-full h-full min-h-100"
                                style="border:0;" 
                                allowfullscreen="" 
                                loading="lazy" 
                                referrerpolicy="no-referrer-when-downgrade"
                            ></iframe>
                        </BlobDynamic>
                    </div>
                </div>
            </div>
            <div class="btn-wrapper">
                <a href="#" class="btn" aria-label="Télécharger le plan de l'exposition">Télécharger le plan</a>
            </div>
		</section>

        <section class="">
            <header>
                <h2 class="lg:text-right">Nos Partenaires</h2>
            </header>
            <div class="flex flex-col lg:flex-row-reverse lg:gap-12 lg:items-center">
                <div class="flex-1">
                    <div class="text-content">
                    <p>Elle est également accompagnée par Le Géant des Beaux-Arts, partenaire fournissant du matériel et des ressources pour la mise en valeur des œuvres physiques, ce qui renforce le lien entre pratiques artistiques traditionnelles et création numérique.</p>
                    <p>L’exposition bénéficie du soutien de l’IUT Nord Franche-Comté et du département MMI, qui mettent à disposition les locaux, le matériel et l’accompagnement pédagogique nécessaires. </p>
                </div>
                </div>
                <div class="flex-1 flex justify-center items-center my-12 lg:my-0">
                    <div class="flex flex-col gap-4">
                        <div class="w-40 lg:w-50 2xl:w-70">
                            <BlobDynamic color='#111111' variant={1}>
                                <div class="w-full h-full flex items-center justify-center bg-black p-8">
                                    <img src={LogoGBA.src} alt="Logo Géant des Beaux-Arts" class="w-3/4 h-auto mt-2 lg:mt-6 2xl:mt-12" />
                                </div>
                            </BlobDynamic>
                        </div>
                        <div class="w-40 lg:w-50 2xl:w-70">
                            <BlobDynamic color='#111111' variant={4}>
                                <div class="w-full h-full flex items-center justify-center bg-black p-8">
                                    <img src={LogoUMLP.src} alt="Logo Université Marie et Louis Pasteur" class="w-3/4 h-auto mr-2 lg:mr-4 2xl:mr-8" />
                                </div>
                            </BlobDynamic>
                        </div>
                    </div>
                    
                    <div class="w-50 lg:w-70 2xl:w-100">
                        <BlobDynamic color='#111111' variant={2}>
                            <div class="w-full h-full flex items-center justify-center bg-black p-8">
                                <img src={LogoMMI.src} alt="Logo MMI" class="w-3/4 h-auto mb-8 ml-16 2xl:mb-12 2xl:ml-20" />
                            </div>
                        </BlobDynamic>
                    </div>
                </div>
            </div>

            <ContactCTA />
        </section>
        
    </main>
</Layout>