---
import { GetArtistById, getImageUrl } from "../lib/backend"
import { pb } from "../lib/pb"
const id = "5kli99frxg9udlh"
const artiste = await GetArtistById(id)
const urlAvatar = artiste ? getImageUrl(artiste, artiste.avatar) : null

//import BlobTransition from "./BlobTransition.astro"
import BlobDynamic from "./ui/BlobDynamic.astro";
import BlobTransition from "./ui/BlobTransition.astro";
import '../../src/styles/global.css';
import BackgroundGrid from "./ui/BackgroundGrid.astro";
import Logo from "../assets/icones/logo.svg";
import AnimatedH1 from "./ui/AnimatedH1.astro";
---

<BackgroundGrid />


<div class="relative w-full z-10">
	<Logo class="w-20 h-20"/>
	<AnimatedH1 variant="accueil" text="MMI ART 26" />
	<AnimatedH1 variant="exposition" text="MMI ART 26" />
	<h2>Titre 2</h2>
	<h3>Titre 3</h3>
	
	


	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, labore. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet veritatis sed, reprehenderit facere modi aliquam.</p>
	<div class="mt-16">
		<a class="btn" href="/artistes">Les artistes</a>
	</div>
	

	<nav class="mt-16">
		<ul>
			<li><a href="">Accueil</a></li>
			<li><a href="">Artistes</a></li>
			<li><a href="">Contact</a></li>
		</ul>
	</nav>

	<section class="mt-20">
		{artiste ? (
			<>
				<h3>Test des fonctionnalitées Backend</h3>
				<div class=" flex items-center">
					<img class="w-20" src={urlAvatar} alt="">
					<p>{artiste.name}</p>
				</div>
				<p>{artiste.bio}</p>
				<h3>Les oeuvres de {artiste.name}</h3>
				
				<ul>
					{
							artiste.expand?.oeuvres_id?.map((oeuvre) => {
					
					const imageRecord = oeuvre.expand.oeuvres_images[0]; 

					
					const urlOeuvre = getImageUrl(imageRecord, imageRecord.images);

					return (
					<div>
						<h3>{oeuvre.title}</h3>
						<BlobDynamic imageUrl={urlOeuvre} width={200} height={200} variant={4} />
					</div>
					);
				})
						}
				</ul>

				<h3>Les réseaux sociaux de {artiste.name}</h3>
				<ul>
					{
						artiste.expand?.canaux_id?.map((canal) => {
					return (<div>
						<p>Plateforme : {canal.platform}</p>
						<a href=`${canal.link}` target="_blank" >Lien : {canal.link}</a>
					</div>)
					})
				}
			</ul>
		</>
		) : (
			<div class="text-red-500 p-4">
				<p>❌ Erreur : Impossible de charger l'artiste.</p>
				<p class="text-sm mt-2">Vérifiez que PocketBase est lancé et que l'ID existe.</p>
			</div>
		)}

		<h3>Tests des blops</h3>
		
		<div class="relative inline-block">
			<BlobDynamic color="#000000" variant={1} />
			<BlobDynamic color="#000000" variant={2} />
			<BlobDynamic color="#000000" variant={3} />
			<BlobDynamic color="#000000" variant={4} />
			
		</div>

		<h2>test bloptransition</h2>
		<div class="fond-tache-container">
			
    	</div>

		<div>
			<BackgroundGrid/> test
		</div>

	</section>
</div>