---
/**
 * Composant AnimatedH1 - Titre H1 avec SVG animé
 * 
 * Combine sémantique SEO (h1) avec animations liquid like blobs
 * Utilise soit h1-home.svg soit h1-exposition.svg selon le variant
 * 
 * @prop variant - "accueil" ou "exposition" (défaut: "accueil")
 * @prop text - Texte pour le SEO/screen readers (défaut: "MMI ART 26")
 * @prop className - Classes CSS additionnelles
 */
interface Props {
  variant?: "accueil" | "exposition";
  text?: string;
  className?: string;
}

const { 
  variant = "accueil",
  text = "MMI ART 26",
  className = "" 
} = Astro.props;

const uniqueId = `h1-${Math.random().toString(36).substr(2, 9)}`;

// Configuration des variantes
const variants = {
  accueil: {
    viewBox: "0 0 910 408",
    width: 910,
    height: 408,
    amplitudeX: 0.7,
    amplitudeY: 0.3,
    paths: [
      "M38.9912 42.2072C29.5122 42.2029 26.0163 48.1218 24.6882 53.5191C21.3322 67.1567 31.4273 81.686 30.6984 94.8807C30.3236 101.663 24.2377 107.154 16.28 107.154C8.32244 107.154 2.39301 101.658 1.86179 94.8807C0.957397 83.3424 11.5134 75.8547 6.03908 53.7216C2.36538 38.8689 0.485483 32.0862 0.497494 20.7875C0.507378 11.4621 7.86764 4.72417 15.8253 4.72417C19.9427 4.72417 24.6042 6.13344 28.1332 10.6052C31.7179 15.1476 33.2685 19.8344 38.0458 23.5025C44.5389 28.4882 52.6051 31.8882 57.1023 31.8757C62.4335 31.861 69.6663 28.2273 74.4958 24.6216C79.3255 21.0159 82.3968 13.5581 86.0798 10.2419C88.8365 7.75975 92.6705 4.72417 96.5944 4.72417C104.552 4.72417 112.758 8.71065 112.983 20.6358C113.113 27.5021 106.477 38.5498 104.863 53.7266C102.741 73.6881 113.165 83.3423 111.467 95.0323C110.493 101.741 104.249 107.154 96.2911 107.154C88.3335 107.154 82.5149 101.666 81.8729 94.8807C80.7865 83.399 90.4141 73.7504 87.5828 53.5992C86.8293 48.2357 83.8206 41.9977 74.199 42.0794C66.1052 42.1481 62.418 47.2417 56.5323 47.2417C50.6466 47.2417 46.4248 42.2105 38.9912 42.2072Z",
      "M183.277 42.5227C173.798 42.5184 170.302 48.4373 168.974 53.8346C165.618 67.4722 175.713 82.0015 174.984 95.1962C174.61 101.978 168.524 107.47 160.566 107.47C152.608 107.47 146.679 101.973 146.148 95.1962C145.243 83.6579 155.799 76.1702 150.325 54.0371C146.651 39.1844 144.771 32.4017 144.784 21.103C144.793 11.7776 152.154 5.03967 160.111 5.03967C164.229 5.03967 168.89 6.44895 172.419 10.9208C176.004 15.4631 177.555 20.1499 182.332 23.818C188.825 28.8037 196.891 32.2037 201.388 32.1913C206.72 32.1765 213.952 28.5428 218.782 24.9371C223.612 21.3314 226.683 13.8736 230.366 10.5574C233.123 8.07525 236.956 5.03967 240.88 5.03967C248.838 5.03967 257.044 9.02616 257.269 20.9513C257.399 27.8176 250.763 38.8653 249.149 54.0421C247.027 74.0036 257.451 83.6579 255.753 95.3478C254.779 102.056 248.535 107.47 240.577 107.47C232.62 107.47 226.801 101.982 226.159 95.1962C225.073 83.7145 234.7 74.0659 231.869 53.9147C231.115 48.5512 228.107 42.3132 218.485 42.3949C210.391 42.4636 206.704 47.5573 200.818 47.5573C194.933 47.5573 190.711 42.526 183.277 42.5227Z",
      "M312.327 57.1372C309.27 52.3511 290.629 30.8503 289.552 25.7794C287.007 13.8002 295.286 8.51303 298.837 6.86869C306.037 3.534 315.227 3.8873 320.712 15.1367C323.87 21.6139 322.757 34.904 328.018 50.017C334.938 69.8948 348.645 74.7098 352.286 86.5413C354.375 93.3313 351.122 101.097 343.922 104.432C336.722 107.767 329.027 104.985 325.441 98.7989C319.374 88.3323 323.812 75.1195 312.327 57.1372Z",
      "M447.619 164.533C452.559 131.22 531.808 132.415 534.761 172.963C535.844 187.843 522.168 189.984 518.561 201.728C516.327 209.002 527.87 220.729 538.61 223.981C545.783 226.152 554.069 230.827 550.712 242.743C548.111 251.971 536.494 254.601 527.87 250.267C521.562 247.098 515.454 234.494 510.69 223.981C501.671 204.078 474.231 198.766 475.824 238.931C476.098 245.83 471.675 254.308 459.89 253.886C451.756 253.595 444.478 247.909 445.881 236.955C447.139 227.134 455.155 213.489 456.234 201.728C456.707 196.574 445.779 176.938 447.619 164.533Z",
      "M351.967 184.335C330.314 184.247 319.182 200.788 317.854 206.185C314.498 219.823 330.146 226.843 328.505 239.955C327.371 249.015 319.919 254.506 311.961 254.506C304.003 254.506 293.797 248.414 293.747 239.348C293.666 224.905 305.98 224.573 302.935 205.629C300.506 190.522 294.583 140.048 351.967 140.322C411.485 140.607 399.077 191.38 397.355 206.545C395.537 222.559 408.846 222.951 408.211 239.803C407.955 246.577 400.984 255.254 390.454 254.81C380.523 254.392 373.061 245.452 372.999 239.651C372.838 224.602 387.31 223.076 385.086 206.417C384.369 201.049 374.105 184.426 351.967 184.335Z",
      "M657.77 172.298C614.771 160.47 624.233 187.942 624.752 199.266C625.895 224.158 635.891 222.038 637.779 236.011C639.692 250.167 627.243 255.043 620.857 254.777C613.914 254.488 601.498 252.596 603.811 235.537C605.67 221.828 615.237 216.169 615.618 202.157C616.495 169.913 611.23 167.386 584.024 175.729C570.702 178.051 563.388 168.773 563.388 160.422C563.657 154.471 566.332 141.497 584.444 144.443C599.462 149.29 603.299 156.183 620.077 155.473C632.88 154.932 635.906 153.812 650.159 144.313C662.876 135.839 677.951 144.112 675.962 160.454C675.438 164.762 669.537 175.535 657.77 172.298Z",
      "M828.048 332.875C822.157 338.843 822.986 353.645 828.689 358.972C835.507 365.341 843.69 362.139 864.153 357.739C887.511 352.716 907.963 366.71 906.084 381.315C904.057 397.065 894.416 401.277 880.264 405.008C866.112 408.738 837.791 407.471 825.361 402.588C807.74 395.665 798.932 373.119 799.389 354.81C799.74 340.758 805.321 324.76 816.601 312.489C827.756 300.354 844.174 297.157 851.83 296.485C855.883 296.129 874.153 293.457 891.371 299.152C897.504 301.18 911.49 304.737 908.869 320.744C907.27 330.514 892.845 331.635 886.843 328.369C871.5 320.02 857.346 322.664 848.713 323.88C838.685 325.293 833.944 326.904 828.048 332.875Z",
      "M744.844 300.804C754.556 303.346 762.219 312.423 759.017 328.309C759.016 362.4 692.946 371.867 692.945 387.346C694.839 393.108 750.769 388.413 763.464 385.688C781.873 381.736 782.71 405.27 768.818 405.61C758.432 405.864 697.508 406.594 685.735 407.093C672.515 407.653 662.835 405.528 664.006 391.043C666.17 364.267 707.785 357.288 715.52 354.034C729.289 348.241 738.49 340.93 734.252 328.756C726.357 315.019 713.075 317.092 703.402 319.729C691.615 322.943 683.021 328.567 672.583 328.312C666.278 328.158 657.587 326.849 656.911 314.033C656.034 297.388 681.582 298.543 681.582 298.543C679.688 298.535 709.366 298.542 709.366 298.542C708.024 298.531 729.919 296.898 744.844 300.804Z"
    ]
  },
  exposition: {
    viewBox: "0 0 1256 682",
    width: 1256,
    height: 682,
    amplitudeX: 0.7,
    amplitudeY: 0.3,
    paths: [
      "M75.2281 77.0023C57.9348 76.9946 51.5569 87.7929 49.1338 97.6397C43.0112 122.52 61.4286 149.027 60.0988 173.099C59.4151 185.472 48.312 195.491 33.7941 195.491C19.2763 195.491 8.45876 185.463 7.4896 173.099C5.83964 152.049 25.0979 138.389 15.1106 98.0091C8.40834 70.912 4.97868 58.5377 5.00059 37.9245C5.01863 20.9113 18.4466 8.61874 32.9646 8.61874C40.4762 8.61874 48.9806 11.1898 55.4188 19.3481C61.9588 27.6352 64.7877 36.1857 73.5033 42.8777C85.3492 51.9736 100.065 58.1766 108.27 58.1538C117.996 58.1269 131.191 51.4976 140.002 44.9194C148.814 38.3413 154.417 24.7353 161.136 18.6852C166.165 14.1568 173.16 8.61874 180.319 8.61874C194.836 8.61874 209.808 15.8916 210.218 37.6478C210.455 50.1746 198.348 70.3299 195.404 98.0182C191.532 134.436 210.551 152.049 207.453 173.376C205.675 185.615 194.283 195.491 179.765 195.491C165.248 195.491 154.632 185.479 153.461 173.099C151.479 152.152 169.044 134.549 163.878 97.7858C162.503 88.0007 157.014 76.6202 139.461 76.7693C124.695 76.8945 117.968 86.1874 107.23 86.1874C96.4922 86.1874 88.7899 77.0084 75.2281 77.0023Z",
      "M338.462 77.578C321.168 77.5702 314.79 88.3686 312.367 98.2153C306.245 123.096 324.662 149.603 323.332 173.675C322.648 186.048 311.545 196.067 297.027 196.067C282.51 196.067 271.692 186.039 270.723 173.675C269.073 152.625 288.331 138.964 278.344 98.5847C271.642 71.4876 268.212 59.1133 268.234 38.5001C268.252 21.4869 281.68 9.19437 296.198 9.19437C303.71 9.19437 312.214 11.7654 318.652 19.9237C325.192 28.2108 328.021 36.7613 336.737 43.4534C348.583 52.5492 363.299 58.7522 371.503 58.7294C381.229 58.7025 394.425 52.0732 403.236 45.495C412.047 38.9169 417.65 25.3109 424.369 19.2608C429.399 14.7324 436.393 9.19437 443.552 9.19437C458.07 9.19437 473.041 16.4673 473.452 38.2234C473.688 50.7502 461.581 70.9055 458.637 98.5938C454.765 135.011 473.784 152.625 470.686 173.952C468.908 186.191 457.517 196.067 442.999 196.067C428.481 196.067 417.866 186.054 416.694 173.675C414.712 152.728 432.277 135.125 427.112 98.3614C425.737 88.5764 420.248 77.1958 402.694 77.3449C387.928 77.4702 381.201 86.763 370.463 86.763C359.726 86.763 352.023 77.5841 338.462 77.578Z",
      "M574.326 103.944C568.698 95.1368 534.662 55.4145 532.554 46.1516C527.576 24.2691 542.148 14.9096 548.42 12.0297C561.14 6.1894 577.544 7.12422 587.739 27.7718C593.609 39.6602 592.113 63.8123 602.051 91.4842C615.122 127.881 639.747 137.079 646.674 158.727C650.649 171.151 645.133 185.181 632.414 191.022C619.694 196.862 605.868 191.555 599.245 180.183C588.039 160.942 595.471 137.036 574.326 103.944Z",
      "M837.723 281.171C846.736 220.395 991.316 222.576 996.704 296.552C998.681 323.699 973.731 327.606 967.15 349.03C963.074 362.301 984.132 383.695 1003.73 389.628C1016.81 393.589 1031.93 402.118 1025.8 423.858C1021.06 440.693 999.866 445.491 984.132 437.585C972.625 431.802 961.481 408.807 952.79 389.628C936.336 353.317 886.275 343.627 889.181 416.904C889.68 429.49 881.612 444.957 860.111 444.187C845.271 443.656 831.994 433.282 834.553 413.298C836.848 395.38 851.472 370.488 853.441 349.03C854.304 339.628 834.366 303.804 837.723 281.171Z",
      "M663.217 317.299C623.714 317.138 603.406 347.316 600.983 357.162C594.86 382.043 623.408 394.849 620.414 418.772C618.345 435.3 604.749 445.318 590.231 445.318C575.713 445.318 557.093 434.203 557.001 417.663C556.854 391.315 579.319 390.709 573.763 356.147C569.334 328.587 558.527 236.501 663.217 237.002C771.801 237.521 749.165 330.152 746.023 357.818C742.706 387.033 766.986 387.749 765.828 418.494C765.362 430.853 752.644 446.682 733.432 445.872C715.315 445.109 701.701 428.801 701.588 418.218C701.294 390.761 727.696 387.978 723.639 357.585C722.331 347.791 703.606 317.465 663.217 317.299Z",
      "M1221.12 295.334C1142.68 273.758 1159.94 323.878 1160.88 344.539C1162.97 389.953 1181.2 386.085 1184.65 411.579C1188.13 437.407 1165.42 446.302 1153.77 445.818C1141.11 445.291 1118.46 441.84 1122.68 410.717C1126.07 385.705 1143.52 375.378 1144.22 349.814C1145.82 290.987 1136.22 286.377 1086.59 301.599C1062.28 305.837 1048.94 288.91 1048.94 273.673C1049.43 262.817 1054.31 239.145 1087.36 244.519C1114.75 253.36 1121.75 265.937 1152.36 264.641C1175.72 263.652 1181.23 261.609 1207.24 244.278C1230.44 228.815 1257.94 243.909 1254.31 273.724C1253.35 281.584 1242.59 301.239 1221.12 295.334Z",
      "M312.981 544.023C302.241 554.91 303.764 581.94 314.167 591.677C326.607 603.321 341.528 597.488 378.842 589.488C421.437 580.357 458.746 605.945 455.328 632.611C451.642 661.369 434.063 669.043 408.257 675.831C382.451 682.62 330.801 680.256 308.129 671.318C275.988 658.647 259.911 617.46 260.731 584.028C261.361 558.369 271.528 529.164 292.09 506.776C312.425 484.636 342.365 478.826 356.326 477.612C363.718 476.969 397.035 472.123 428.44 482.551C439.625 486.266 465.133 492.785 460.366 522.009C457.456 539.849 431.15 541.871 420.201 535.896C392.216 520.624 366.403 525.426 350.661 527.632C332.374 530.195 323.729 533.129 312.981 544.023Z",
      "M161.195 485.542C178.907 490.176 192.878 506.737 187.029 535.731C187.006 597.946 66.4972 615.262 66.4867 643.51C69.9378 654.025 171.948 645.426 195.104 640.445C228.681 633.222 230.193 676.171 204.856 676.799C185.913 677.268 74.7968 678.636 53.3249 679.552C29.2134 680.581 11.56 676.709 13.7041 650.273C17.6673 601.407 93.5705 588.647 107.681 582.703C132.797 572.123 149.581 558.775 141.861 536.561C127.468 511.494 103.243 515.285 85.5998 520.103C64.0997 525.974 48.4226 536.245 29.3859 535.784C17.8866 535.507 2.03579 533.123 0.811344 509.734C-0.778988 479.357 45.8168 481.451 45.8168 481.451C42.3618 481.436 96.4899 481.433 96.4899 481.433C94.0426 481.414 133.978 478.421 161.195 485.542Z"
    ]
  }
};

const config = variants[variant];
---

<h1 class={`animated-h1 ${className}`}>
  <span class="sr-only">{text}</span>
  <div class="svg-container" data-h1-id={uniqueId}>
    <svg
      width={config.width}
      height={config.height}
      viewBox={config.viewBox}
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="h1-svg"
      data-amplitude-x={config.amplitudeX}
      data-amplitude-y={config.amplitudeY}
    >
      {config.paths.map((path, index) => (
        <path
          id={`h1-path-${uniqueId}-${index}`}
          fill-rule="evenodd"
          clip-rule="evenodd"
          d={path}
          fill="#111111"
          stroke="#111111"
          stroke-width="1"
          stroke-miterlimit="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h1-path"
          data-original={path}
          data-index={index}
        />
      ))}
      
      <!-- Petits paths blancs (détails) - Variant accueil -->
      {variant === "accueil" && (
        <>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M479.969 178.167C476.436 176.88 467.44 170.323 475.597 162.762C487.094 152.107 511.696 161.412 508.097 172.605C504.501 183.792 488.838 181.4 479.969 178.167Z" fill="#FAFAFA" stroke="#111111" stroke-width="0.0322908"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M351.531 170.733C336.138 171.203 324.709 175.315 326.647 167.372C331.294 148.324 378.54 155.002 374.693 170.58C372.31 180.23 363.909 170.354 351.531 170.733Z" fill="#FAFAFA" stroke="#111111" stroke-width="0.0313771"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M887.212 386.028C882.191 402.161 833.457 402.315 839.046 381.756C841.738 371.852 855.001 369.935 870.094 369.782C882.947 369.651 890.221 376.363 887.212 386.028Z" fill="#FAFAFA" stroke="#111111" stroke-width="0.0319556"/>
        </>
      )}

      <!-- Petits paths blancs (détails) - Variant exposition -->
      {variant === "exposition" && (
        <>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M896.743 306.046C890.298 303.697 873.885 291.735 888.766 277.942C909.741 258.502 954.624 275.478 948.06 295.899C941.498 316.309 912.923 311.943 896.743 306.046Z" fill="#FAFAFA" stroke="#111111" stroke-width="0.0322908"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M662.423 292.483C634.34 293.341 613.488 300.844 617.024 286.351C625.502 251.6 711.697 263.785 704.678 292.205C700.331 309.809 685.004 291.792 662.423 292.483Z" fill="#FAFAFA" stroke="#111111" stroke-width="0.0313771"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M420.788 641.457C411.918 671.14 323.339 670.727 333.17 632.888C337.905 614.661 361.982 611.315 389.413 611.247C412.774 611.19 426.101 623.674 420.788 641.457Z" fill="#FAFAFA" stroke="#111111" stroke-width="0.0319556"/>
        </>
      )}
    </svg>
  </div>
</h1>

<style>
  .animated-h1 {
    display: inline-block;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  .svg-container {
    display: block;
  }

  .h1-svg {
    display: block;
    width: 100%;
    height: auto;
  }

  .h1-path {
    transition: all 0.2s ease-out;
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    initializeH1Animations();
  });

  function initializeH1Animations() {
    const containers = document.querySelectorAll(".svg-container");

    containers.forEach((container) => {
      const h1Id = container.getAttribute("data-h1-id");
      const svg = container.querySelector(".h1-svg") as SVGSVGElement;
      const pathElements = svg?.querySelectorAll(".h1-path") as NodeListOf<SVGPathElement>;

      if (!svg || !pathElements.length) return;

      // Stocker les points parsés pour chaque path
      const pathsData = Array.from(pathElements).map((pathEl) => {
        const originalPath = pathEl.getAttribute("data-original") || "";
        return {
          element: pathEl,
          points: parseSVGPath(originalPath),
          original: originalPath
        };
      });

      let mouseX = 0;
      let mouseY = 0;
      let isHovering = false;
      let time = 0;

      // Animation continue
      function animate() {
        time += 0.02;

        pathsData.forEach((pathData, pathIndex) => {
          const deformedPoints = pathData.points.map((point, index) => {
            let newX = point.x;
            let newY = point.y;

            // Animation idle : ondulation subtile avec amplitude configurable
            const amplitudeX = parseFloat(svg.getAttribute("data-amplitude-x") || "1");
            const amplitudeY = parseFloat(svg.getAttribute("data-amplitude-y") || "0.7");
            
            const wavePhase = time + index * 0.15 + pathIndex * 0.5;
            const offsetX = Math.sin(wavePhase) * amplitudeX;
            const offsetY = Math.cos(wavePhase * 0.8) * amplitudeY;

            newX = point.x + offsetX;
            newY = point.y + offsetY;

            // Répulsion souris au hover
            if (isHovering) {
              const dx = mouseX - newX;
              const dy = mouseY - newY;
              const distance = Math.sqrt(dx * dx + dy * dy);
              const maxDistance = 100;

              if (distance < maxDistance) {
                const force = (1 - distance / maxDistance) * 0.25 * 40;
                const angle = Math.atan2(dy, dx);

                newX = newX - Math.cos(angle) * force;
                newY = newY - Math.sin(angle) * force;
              }
            }

            return {
              ...point,
              x: newX,
              y: newY
            };
          });

          const newPath = buildSVGPath(deformedPoints);
          pathData.element.setAttribute("d", newPath);
        });

        requestAnimationFrame(animate);
      }

      // Suivi de la souris
      svg.addEventListener("mousemove", (e) => {
        const rect = svg.getBoundingClientRect();
        const viewBoxParts = svg.getAttribute("viewBox")?.split(" ") || ["0", "0", "910", "408"];
        const viewBoxWidth = parseFloat(viewBoxParts[2]);
        const viewBoxHeight = parseFloat(viewBoxParts[3]);

        mouseX = ((e.clientX - rect.left) / rect.width) * viewBoxWidth;
        mouseY = ((e.clientY - rect.top) / rect.height) * viewBoxHeight;
      });

      svg.addEventListener("mouseenter", () => {
        isHovering = true;
      });

      svg.addEventListener("mouseleave", () => {
        isHovering = false;
      });

      animate();
    });
  }

  // Parser un path SVG
  function parseSVGPath(pathString: string) {
    const points: Array<{ x: number; y: number; type: string }> = [];
    const commands = pathString.match(/[MLHVCSQTAZ][^MLHVCSQTAZ]*/gi) || [];

    commands.forEach((cmd) => {
      const type = cmd[0];
      const coords = cmd
        .slice(1)
        .trim()
        .split(/[\s,]+/)
        .map(Number)
        .filter((n) => !isNaN(n));

      if (type === "M" || type === "L") {
        for (let i = 0; i < coords.length; i += 2) {
          points.push({ x: coords[i], y: coords[i + 1], type });
        }
      } else if (type === "C") {
        for (let i = 0; i < coords.length; i += 6) {
          points.push({ x: coords[i], y: coords[i + 1], type: "C1" });
          points.push({ x: coords[i + 2], y: coords[i + 3], type: "C2" });
          points.push({ x: coords[i + 4], y: coords[i + 5], type });
        }
      }
    });

    return points;
  }

  // Reconstruire un path SVG
  function buildSVGPath(points: Array<{ x: number; y: number; type: string }>) {
    let path = "";
    let i = 0;

    while (i < points.length) {
      const point = points[i];

      if (point.type === "M") {
        path += `M${point.x},${point.y} `;
        i++;
      } else if (point.type === "C") {
        const c1 = points[i - 2];
        const c2 = points[i - 1];
        path += `C${c1.x},${c1.y} ${c2.x},${c2.y} ${point.x},${point.y} `;
        i++;
      } else if (point.type === "L") {
        path += `L${point.x},${point.y} `;
        i++;
      } else {
        i++;
      }
    }

    return path + "Z";
  }

  // Initialisation immédiate
  if (document.readyState !== "loading") {
    initializeH1Animations();
  }
</script>
